body {
    display: flex;
}
.cadastro {
    display: flex;
    border-radius: 3px solid black;
    margin-left: 150px;
}
#campo {
    display: flex;
    border-radius: 2px solid black;
    align-items: center;
    justify-content: center;
}
.cadastro #titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}
