body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}
main.graficos {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

main.graficos h1 {
    font-size: 32px;
    color: #041635;
    margin-bottom: 20px;
}

footer {
    background-color: #041635;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

footer p {
    margin: 0;
    font-size: 14px;
}
