body {
    margin: 0;
}
header {
    height: 100px;
    width: 100%;
    display: flex;
    background-color: #041635;
    margin: 0;
    justify-content: space-between;
    flex-direction: row;
}
.container {
    margin-left: 30px;
    margin-top: 10px;
}
.container .logo img { 
    height: 75px;
}
.navbar {
    margin-top: 9px;
}

.navbar ul {
    list-style: none;
    padding: 0px;
    display: flex;
    gap: 15px;
    margin-right: 16px;
}

.navbar a {
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 20px;
}

